<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome Music Enthusiast!</h1>
            <p>This is a simple webpage that allows users to add their favorite music!</p>
        </div>
    </div>
    <div class="container">
        <div class = "jumbotron">    
                <h2>About</h2>
                <br>
                <p>This Webpage is for Assignment 3 of CS4241</p>
                <p>With this Webpage you can:</p>
                <ul style="font-size: 20px;">
                    <li>Create an account</li>
                    <li>View your profile</li>
                    <li>Add new songs</li>
                    <li>Delete Songs</li>
                    <li>Modify Songs</li>
        
                </ul>
            </div>
    </div>

    <div class="container">
        <div class = "jumbotron">
                <h2>
                    How it Works
                </h2>
                <p >
                    <ul style="font-size: 20px;">
                        <li>Click the 'Create Account Button</li>
                        <li>Input the proper Credentials</li>
                        <li>Click the 'Login Button</li>
                        <li>Enter the Username and Password you just made</li>
                        <li>Click the 'Music' Button</li>
                        <li>Add your favorite music for this account</li>
                        <li>Delete the old songs you don't want</li>
                        <li>Modify Songs already in the Database</li>
                    </ul>
                </p>
            </div>
    </div>


</body>
