<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    </head>
    <body>
        <div>
            <h1 class="jumbotron">
                Welcome <%= user.username %>!
            </h1>
        
            <h2>
                This is your Personal Profile Page
            </h2>
            <br>
            <h3>
                In the future you could maybe add your picture and some fun facts about yourself!
            </h3>
            <br>
            <br>
            <img style="width: 75%; height: 75%;" src="https://cdn.glitch.com/9b45a307-0d38-4f8f-af08-41379046d234%2Fprofile_picture.jpg?v=1568608827309" alt="empty profile picture">
            <p>For now, this is the standard profile picture</p>
        </div>
    </body>
    </html>





